# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
.eggs/
dist/
build/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
logs/
*.pot

# Environment variables
.env
.env.dev
.env.prod
!.env.example

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Testing
.coverage
htmlcov/
.pytest_cache/
.tox/

# Docker
docker-compose.override.yml

# Backup files
*.bak
*.tmp

# OS
Thumbs.db

# ebook.ppk
*.ppkebook_openssh
*.ppk
ebook_openssh

*.txt